@import "compass"
@import "bootstrap"

$main-font: Arial, Helvetica, sans-serif

$c-primary: #000
$c-secondary: grayscale(#94AA1F)
$c-tertiary: grayscale(#525f11)

html, body
  height: 100%

#container
  background: rgba($c-primary, 0.8)
  min-height: 80%
  margin: 0 auto
  min-width: 320px
  width: 80%